{% extends("::base.html.twig") %}

{% block body %}
    <form action="{{ path("cgg_conference_login_check") }}" method="POST" class="signin">
        <h2>Connexion</h2>
        <div class="form-group">
            <label for="login">Email</label>
            <input type="text" name="_username" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="_password" class="form-control"/>
        </div>
        <hr/>
        <div class="form-group">
            Remember me <input type="checkbox" name="_remember_me" />
        </div>
        <div class="form-group">
            <a href="{{ path("cgg_conference_register") }}">Pas encore inscrit? Inscrivez-vous maintenant</a>
        </div>
        <div class="form-group t_center">
            <button type="submit" class="btn btn-primary">Connexion</button>
        </div>
    </form>
{% endblock %}