{% extends "::base.html.twig" %}

{% block headTitle %}Accueil{% endblock %}

{% block body %}
    <p class="alert-danger">Participation <strong>acceptée</strong>! L'utilisateur peut à présent accéder à l'administration de la conférence depuis la liste des conférences.</p>
{% endblock %}


