{% extends("::base.html.twig") %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">Erreur</div>
        <div class="panel-body alert" role="alert">
            <p>
                La conférence n'existe pas.
            </p>
        </div>
    </div>
{% endblock %}